<form method="post">
    <input type="text" name="CategoryName" placeholder="Name Azerbaijan" />
    <input type="text" name="CategoryName" placeholder="Name Russian" />
    <input type="text" name="CategoryName" placeholder="Name English" />
    <input type="hidden" name="LangCode" value="Az" />
    <input type="hidden" name="LangCode" value="Ru" />
    <input type="hidden" name="LangCode" value="Eng" />
    <br />
    <input type="text" name="PhotoUrl" />
    <br />
    <input type="submit" value="Create" />
</form>